<!--<div class="popup">
    <h2>Welcome to EX Cluster</h2>
    <p>Please log in to continue</p>
    <button (click)="login()">Login</button>
</div> -->
<mat-card>
  <mat-card-title>Welcome to Explainable News Clustering</mat-card-title>
  <br>
  <mat-card-content>
    <div class="form-wrapper">
      <div class="select-wrapper">
        <label>Select System:</label>
        <div>
          <select [(ngModel)]="selectedSystem" matNativeControl >
            <option *ngFor="let systemSource of systemSources" [value]="systemSource">
              {{ systemSource }}
            </option>
          </select>
        </div>
      </div>
      <div class="button-wrapper">
        <button (click)="login()" mat-button>Start Session</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
