<div class="lines" *ngIf="clusterNumber && globalExplanations">
    <span class="line2">{{clusterNumber}}</span> comprises of<br><br><br>
    <span class="line1">Events</span> such as<br><br>
    <span class="line2">{{globalExplanations[clusterNumber]['Events']}}</span><br><br><br>
    <span class="line1">Whats</span> such as<br><br>
    <span class="line2">{{globalExplanations[clusterNumber]['Whats']}}</span><br><br><br>
    <span class="line1">Whens</span> such as<br><br>
    <span class="line2">{{globalExplanations[clusterNumber]['Whens']}}</span><br><br><br>
    <span class="line1">Wheres</span> such as<br><br>
    <span class="line2">{{globalExplanations[clusterNumber]['Wheres']}}</span><br><br><br>
    <span class="line1">Whos</span> such as<br><br>
    <span class="line2">{{globalExplanations[clusterNumber]['Whos']}}</span><br><br><br>
</div>
