<div>
    <div>
        <label>Select Cluster to reassign:  </label>
        <select [(ngModel)]="selectedCluster" (ngModelChange)="getWords()">
          <option *ngFor="let clusterNumber of filteredArticleFeatureDiv" [value]="clusterNumber">
            {{ clusterNumber }}
          </option>
        </select>
    </div>
    <div *ngIf="selectedCluster">
        <p>The most similar words to <span style="color:red">{{ clickedWord }}</span> in <span style="color:red">{{ selectedCluster }}</span> cluster are:</p>
        <ul>
          <li *ngFor="let word of similarWords"><span style="color:red">{{ word }}</span></li>
        </ul>
    </div>
    <div *ngIf="selectedCluster">
        <mat-dialog-content>
            Reassign {{ clickedWord }} to {{ selectedCluster }}?
          </mat-dialog-content>
          <mat-dialog-actions>
            <button mat-button [mat-dialog-close]="true" (click)="onConfirmClick()">Yes</button>
            <button mat-button [mat-dialog-close]="false">No</button>
          </mat-dialog-actions>
      </div>
</div>
