mat-grid-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.tile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.tile-header {
    margin-bottom: 10px;
}