<h2 mat-dialog-title>Article Explanation</h2>
<mat-dialog-content>
  <mat-grid-list cols="2" gutterSize="10px">
    <mat-grid-tile>
        <div *ngIf="isContent">
            <div class="tile-header">
                <h3>{{content['article_title']}}</h3>
            </div>
                <div>{{content['article_data']}}</div>
                <div>
                <br><br>
                <label> Is this document relevant?  </label>   
                <button (click)="onRelevanceClick()">Yes</button>
                <button (click)="onNotRelevanceClick()">No</button>
                </div>
            </div>
        <div  *ngIf="!isContent">
            <div class="tile-header">
                <h3>{{clickedBar}}</h3>
            </div>
            <app-word-cloud-component [clickedBar]="clickedBar" [article]="data.selected_article" [source]="data.source" (wordClicked)="onWordClicked($event)"></app-word-cloud-component>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div  *ngIf="!isWordClick">
            <div class="tile-header">
                <h3>Article Vector Representation</h3>
            </div>
                <app-article-explanation [clickedPoint]="data.selected_article" [data]="data.data" [articleFeatureDiv]="data.articleFeatureDiv" (barClicked)="onBarClicked($event)" ></app-article-explanation>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>