<div class="parent-container">
    <div class="child-container">
        <div class="lines" *ngIf="localExplanations">
            <span class="line2">{{article1}}</span> comprises of<br><br><br>
            <div *ngIf="localExplanations['article_1']['Events']"><span class="line1">Events</span> such as<br><br></div>
            <div *ngIf="localExplanations['article_1']['Events']"><span class="line2">{{localExplanations['article_1']['Events']}}</span><br><br><br></div>
            <div *ngIf="localExplanations['article_1']['Whats']"><span class="line1">Whats</span> such as<br><br></div>
            <div *ngIf="localExplanations['article_1']['Whats']"><span class="line2">{{localExplanations['article_1']['Whats']}}</span><br><br><br></div>
            <div *ngIf="localExplanations['article_1']['Whens']"><span class="line1">Whens</span> such as<br><br></div>
            <div *ngIf="localExplanations['article_1']['Whens']"><span class="line2">{{localExplanations['article_1']['Whens']}}</span><br><br><br></div>
            <div *ngIf="localExplanations['article_1']['Wheres']"><span class="line1">Wheres</span> such as<br><br></div>
            <div *ngIf="localExplanations['article_1']['Wheres']"><span class="line2">{{localExplanations['article_1']['Wheres']}}</span><br><br><br></div>
            <div *ngIf="localExplanations['article_1']['Whos']"><span class="line1"> Whos</span> such as<br><br></div>
            <div *ngIf="localExplanations['article_1']['Whos']"><span class="line2">{{localExplanations['article_1']['Whos']}}</span><br><br><br></div>
        </div>
    </div>
    <div class="child-container">
        <div class="lines" *ngIf="localExplanations">
            <span class="line2">{{article2}}</span> comprises of<br><br><br>
            <div *ngIf="localExplanations['article_2']['Events']"><span class="line1">Events</span> such as<br><br></div>
            <div *ngIf="localExplanations['article_2']['Events']"><span class="line2">{{localExplanations['article_2']['Events']}}</span><br><br><br></div>
            <div *ngIf="localExplanations['article_2']['Whats']"><span class="line1">Whats</span> such as<br><br></div>
            <div *ngIf="localExplanations['article_2']['Whats']"><span class="line2">{{localExplanations['article_2']['Whats']}}</span><br><br><br></div>
            <div *ngIf="localExplanations['article_2']['Whens']"><span class="line1">Whens</span> such as<br><br></div>
            <div *ngIf="localExplanations['article_2']['Whens']"><span class="line2">{{localExplanations['article_2']['Whens']}}</span><br><br><br></div>
            <div *ngIf="localExplanations['article_2']['Wheres']"><span class="line1">Wheres</span> such as<br><br></div>
            <div *ngIf="localExplanations['article_2']['Wheres']"><span class="line2">{{localExplanations['article_2']['Wheres']}}</span><br><br><br></div>
            <div *ngIf="localExplanations['article_2']['Whos']"><span class="line1"> Whos</span> such as<br><br></div>
            <div *ngIf="localExplanations['article_2']['Whos']"><span class="line2">{{localExplanations['article_2']['Whos']}}</span><br><br><br></div>
        </div>
    </div>
</div>
