.container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    height: 100vh;
}

.scatter-dropdown{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.scatter-label{
    font-weight: bold;
    position: relative;
    padding: 20px;
    background-color: #e3071a;
    color:#fff;
}

input[type="text"] {
    padding: 18px;
    left: 30px;
    position: relative;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }

.datasource-dropdown{
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 19px;
    cursor: pointer;
    position: relative;
}

.datasource-options{
    width: 50%;
    padding: 100%;
}

.explanation-dropdown{
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}

.explanation-button{
    padding: 20px;
    position: relative;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    display: block;
    background-color: #4CAF50;
}

.configuration-button{
    background-color: #4CAF50;
    width: 50%;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 20px;
}

.recluster-button{
    background-color: #4CAF50;
    color: white;
    left: 180px;
    width: 20%;
    position: relative;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 20px;
}

.search-button{
    background-color: #4CAF50;
    color: white;
    left: 30px;
    position: relative;
    padding: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.explanation-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.global-explanation-label{
    padding: 20px;
    background: #e3071a;
    color: white;
    font-weight: bold;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.global-explanation-options{
    padding: 20px;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}

.local-explanation-dropdown1{
    padding: 20px;
    color: white;
    cursor: pointer;
    background-color: #614caf;
    border: none;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.local-explanation-dropdown2{
    padding: 20px;
    color: white;
    cursor: pointer;
    background-color: #af774c;
    border: none;
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}