<div class="container">
    <div class = 'scatter-dropdown'>
      <label for="data-source" class="scatter-label" >Select Data Source:       </label>
      <select class="datasource-dropdown" (change)="getDataFromSource($event,undefined)">
        <option class="datasource-options" *ngFor="let dataSource of dataSources" [value]="dataSource">
          {{ dataSource }}
        </option>
      </select>
      <input type="text" [(ngModel)]="query" placeholder="Enter a search query">
      <button mat-button class="search-button" (click)="search()">Search</button>
      <button mat-button class="recluster-button" type="submit" (click)="recluster()">Recluster</button>
      <br><br><br><br>
      <ngx-spinner type="ball-spin">
        <p style="color: white">Loading...</p>
      </ngx-spinner>
      <app-scatter-component [data]="data" [labels]="labels" [articleFeatureDiv]="articleFeatureDiv" [source]="source"></app-scatter-component>
    </div>
    

    <div class = 'explanation-dropdown'>
      <button mat-button class="configuration-button" (click)="handleButtonClick('explanation')">Explanation</button>
      <button mat-button class="configuration-button" (click)="handleButtonClick('user_feedback')">User Feedback</button>
      <div *ngIf="this.configuration=='explanation'">
        <select class="explanation-button" [(ngModel)]="systemOption" (change)="getGlobalExplanation()">
          <option>Select System</option>
          <option value="A">System A</option>
          <option value="B">System B</option>
        </select>
        <select class="explanation-button" [(ngModel)]="selectedExplanationType" (change)="getGlobalExplanation()">
          <option value="local">Local Explanation</option>
          <option value="global">Global Explanation</option>
        </select>
        <br><br>
        <div *ngIf="selectedExplanationType==='global'; else localExplanation">
          <div class="explanation-container">
            <label class="global-explanation-label">Select Cluster:  </label>
            <select class="global-explanation-options" [(ngModel)]="selectedGlobalCluster">
              <option *ngFor="let clusterNumber of clusterNumbers" [value]="clusterNumber">
                {{ clusterNumber }}
              </option>
            </select>
          </div>
          <div class="spinner-container" *ngIf="loadingGlobalExplanations">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
          <app-global-explanations [clusterNumber]="selectedGlobalCluster" [globalExplanations]="globalExplanations"></app-global-explanations>
        </div>
        <ng-template #localExplanation>
          <div class="explanation-container">
            <label class="global-explanation-label">Select Cluster:  </label>
            <select class="global-explanation-options" [(ngModel)]="selectedGlobalCluster" (change)="selectedClusterNumberChange()">
              <option *ngFor="let clusterNumber of clusterNumbers" [value]="clusterNumber">
                {{ clusterNumber }}
              </option>
            </select>
          </div>
          <div *ngIf="articles">
            <label class="explanation-button">Compare Articles</label>
            <div class="explanation-container">
              <select class="local-explanation-dropdown1"   [(ngModel)]="article1" (ngModelChange)="onDropdownChange()">
                <option *ngFor="let article of articles" [value]="article">
                  {{ article }}
                </option>
              </select>
              <select class="local-explanation-dropdown2" [(ngModel)]="article2" (ngModelChange)="onDropdownChange()">
                <option *ngFor="let article of articles" [value]="article">
                  {{ article }}
                </option>
              </select>
            </div>
            <app-local-explanation [localExplanations]="localExplanations" [article1]="article1" [article2]="article2"></app-local-explanation>
          </div>
        </ng-template>
      </div>
      <div *ngIf="this.configuration=='user_feedback'">
        <app-feature-weighting-component (rewighCluster)="onFeatureReweighting($event)"></app-feature-weighting-component>
      </div>
    </div>
  </div>
